# API keys and secrets
.env

# Dependency directory
node_modules
node_modules/**/*

# Ignore built ts files
dist/**/*
.build/**/*
built/
.webpackCache/
.webpackCache/**/*
.webpack/
.webpack/**/*
libs/nodejs
libs/nodejs/**/*

# ignore yarn.lock
yarn.lock
jspm_packages
package-lock.json

